################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/neoDesk/CopilotIndices/17.14.1530.14912
/.vs/neoDesk/FileContentIndex/20481daf-1778-42fa-a0cb-e5a17bdaab85.vsidx
