<div class="drawer min-h-screen">
  <ul class="menu bg-base-200 rounded-box w-64">
    <li>
      <details open>
        <summary>
          <lucide-icon name="headset"></lucide-icon>
          <li class="menu-title text-lg text-base-content">Incydenty</li>
        </summary>
        <ul>
          <li><a [routerLink]="['/']"><lucide-icon name="info" class="w-4 h-4"></lucide-icon>Lista zgłoszeń</a></li>
          <li><a [routerLink]="['/create-ticket']"><lucide-icon name="plus" class="w-4 h-4"></lucide-icon>Utwórz nowe zgłoszenie</a></li>
          <li><a [routerLink]="['/stats']"><lucide-icon name="chart-bar" class="w-4 h-4"></lucide-icon>Statystyki</a></li>
        </ul>
      </details>
      <details open>
        <summary>
          <lucide-icon name="book-open"></lucide-icon>
          <li class="menu-title text-lg text-base-content">Baza wiedzy</li>
        </summary>
        <ul>
          <li><a><lucide-icon name="book-open-text" class="w-4 h-4"></lucide-icon>Wpisy bazy wiedzy</a></li>
          <li><a><lucide-icon name="book-plus" class="w-4 h-4"></lucide-icon>Utwórz nowy wpis</a></li>
        </ul>
      </details>
      <details open *ngIf="isAdmin">
        <summary>
          <lucide-icon name="wrench"></lucide-icon>
          <li class="menu-title text-lg text-base-content"> Zarządzanie </li>
        </summary>
        <ul>
          <li><a><lucide-icon name="settings" class="w-4 h-4"></lucide-icon>Ustawienia</a></li>
          <li><a [routerLink]="['/user-management']"><lucide-icon name="user-round" class="w-4 h-4"></lucide-icon>Konta użytkowników</a></li>
        </ul>
      </details>
    </li>
  </ul>
</div>
