@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import 'quill/dist/quill.bubble.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //outline: 1px solid red;
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
