<div class="flex flex-col m-4 p-4 border-2 border-base-300 rounded-md">
  <div class="flex justify-between items-center mb-4">
    <p class="text-xl">Lista zgłoszeń</p>
    <button class="btn btn-ghost btn-sm" (click)="refreshTickets()">
      Odśwież
    </button>
  </div>
</div>

<div class="flex flex-col items-center m-4 border-2 border-base-300 rounded-md">

  <span class="loading loading-spinner loading-xl" *ngIf="isLoading" aria-label="Loading tickets"></span>

  <table class="table table-sm table-zebra" *ngIf="!isLoading && tickets && tickets.length > 0">
    <thead>
    <tr class="text-lg">
      <th>Id</th>
      <th>Tytuł</th>
      <th>Utworzono</th>
      <th>Status</th>
      <th>Kategoria</th>
      <th>Utworzone przez</th>
      <th>Przypisane do</th>
<!--      <th>Akcje</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>
        <a
          [routerLink]="['/ticket', ticket.id]"
          class="link link-primary hover:link-secondary">
          {{ ticket.title }}
        </a>
      </td>
      <td class="text-nowrap">{{ ticket.createdAt | date:'dd.MM.yyyy HH:mm' }}</td>
      <td class="text-nowrap">
        <div class="badge" [ngClass]="STATUS_CLASSES[ticket.status]">
          {{ ticket.status | statusLabel }}
        </div>
      </td>
      <td>{{ ticket.category | categoryLabel }}</td>
      <td>{{ ticket.createdBy?.name || '-' }}</td>
<!--      <td>-->
<!--        <div class="flex gap-1">-->
<!--          <button-->
<!--            class="btn btn-xs btn-primary"-->
<!--            [routerLink]="['/ticket', ticket.id]">-->
<!--            Zobacz-->
<!--          </button>-->
<!--        </div>-->
<!--      </td>-->
      <td>{{ ticket.assignedTo?.name || '-' }}</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!isLoading && (!tickets || tickets.length === 0)" class="text-neutral-content mt-4">
    <p class="text-center">Brak zgłoszeń do wyświetlenia.</p>
    <div class="text-center mt-4">
      <a routerLink="/create-ticket" class="btn btn-primary">
        Utwórz pierwsze zgłoszenie
      </a>
    </div>
  </div>
</div>
