<div class="flex flex-col m-4 p-4 border-2 border-base-300 rounded-md">
  <p class="text-xl">Kontener na filtry</p>
</div>

<div class="flex flex-col items-center m-4 pt-4 border-2 border-base-300 rounded-md">

  <span class="loading loading-spinner loading-xl" *ngIf="!tickets || tickets.length === 0" aria-label="Loading weather forecast"></span>

  <table class="table table-sm table-zebra" *ngIf="tickets && tickets.length > 0">
    <thead>
    <tr class="text-lg">
      <th>Id</th>
      <th>Tytuł</th>
      <th>Utworzono</th>
      <th>Status</th>
      <th>Kategoria</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.title }}</td>
      <td>{{ ticket.createdAt }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.category }}</td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="tickets && tickets.length === 0" class="text-neutral-content mt-4">
    No forecasts available.
  </div>
</div>
